In [3]:
import numpy as np

In [6]:
f = 'MNIST.txt'
data = np.loadtxt(f , delimiter = ',')

In [8]:
data

array([ 12.,   3., 432.])

In [21]:
a = np.array([(1,'hi') , (3,'hello')]) #Numpy having mixed datatypes

In [22]:
a #when printed gave same dtype

array([['1', 'hi'],
       ['3', 'hello']], dtype='<U21')

In [23]:
x = np.array([('Rex', 9, 81.0), ('Fido', 3, 27.0)],dtype=[('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])
 #Numpy having mixed datatypes

In [24]:
x
#printing different data types

array([('Rex', 9, 81.), ('Fido', 3, 27.)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f4')])

In [25]:
check = np.array([(1 , 'Hi')] , dtype= [('roll_no' , '<i4') , ('welcome_msg' , '<U10')])

In [26]:
check

array([(1, 'Hi')], dtype=[('roll_no', '<i4'), ('welcome_msg', '<U10')])

In [28]:
check['roll_no'] #we can get specific data too

array([1], dtype=int32)

In [29]:
check[0]

(1, 'Hi')

In [30]:
'''
This concept is called structured arrays
'''

'\nThis concept is called structured arrays\n'

# Loading data(CSV) from numpy

In [34]:
np.recfromcsv('weather_data.csv')

rec.array([(b'1/1/2017', 32, 6, b'Rain'), (b'1/2/2017', 35, 7, b'Sunny'),
           (b'1/3/2017', 28, 2, b'Snow'), (b'1/4/2017', 24, 7, b'Snow'),
           (b'1/5/2017', 32, 4, b'Rain'), (b'1/6/2017', 31, 2, b'Sunny')],
          dtype=[('day', 'S8'), ('temperature', '<i8'), ('windspeed', '<i8'), ('event', 'S5')])

In [35]:
import pandas as pd

In [41]:
data = pd.read_csv('weather_data.csv' , nrows=5 ,   header=None)

In [42]:
data

          0            1          2      3
0       day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow
4  1/4/2017           24          7   Snow

In [43]:
file = 'weather_data.xlsx'

In [44]:
data = pd.ExcelFile(file)

In [46]:
data.sheet_names #To print sheet names

['weather_data', 'first_4', 'first_3']

In [55]:
type(data)

pandas.io.excel.ExcelFile

In [51]:
df1 = data.parse('first_4') #first_4 is sheet name so took sheet name

In [52]:
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [53]:
df2 = data.parse(0) #0 is index so took first sheet

In [54]:
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny