In [1]:
#comparision op

In [2]:
'abc' < 'tgvbhnj'

True

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('weather_data.csv')

In [5]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df > 10

    day  temperature  windspeed  event
0  True         True      False   True
1  True         True      False   True
2  True         True      False   True
3  True         True      False   True
4  True         True      False   True
5  True         True      False   True

In [7]:
np.logical_and(df > 3 , df <=10)
#logical or , not also available

    day  temperature  windspeed  event
0  True        False       True   True
1  True        False       True   True
2  True        False      False   True
3  True        False       True   True
4  True        False       True   True
5  True        False      False   True

In [8]:
df['windspeed']

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [9]:
df['windspeed'] >3

0     True
1     True
2    False
3     True
4     True
5    False
Name: windspeed, dtype: bool

In [10]:
df[df['windspeed'] > 3]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [11]:
np.logical_or(df['windspeed'] >3 , df['windspeed'] <2)

0     True
1     True
2    False
3     True
4     True
5    False
Name: windspeed, dtype: bool

In [12]:
df[np.logical_or(df['windspeed'] >3 , df['windspeed'] <2)]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
l = [1,2,3,4]

In [14]:
for i in l:
    print(i)

1
2
3
4

In [15]:
for index , val in enumerate(l):
    print(str(index) +' '+str(val))

0 1
1 2
2 3
3 4

In [16]:
#1D numpy array
a = np.array(l)

In [17]:
for i in a:
    print(i)

1
2
3
4

In [18]:
#2D numpy array
a1 = np.array([l , l])

In [19]:
a1

array([[1, 2, 3, 4],
       [1, 2, 3, 4]])

In [20]:
for i in np.nditer(a1):
    print(i)

1
2
3
4
1
2
3
4

In [21]:
#Looping in df
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
for val in df:
    print(val)#col name

day
temperature
windspeed
event

In [23]:
for label , rows in df.iterrows():
    print(label) #Index
    print('**************************************')
    print(rows) #whole row as one pandas series
    print('**************************************')

0
**************************************
day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object
**************************************
1
**************************************
day            1/2/2017
temperature          35
windspeed             7
event             Sunny
Name: 1, dtype: object
**************************************
2
**************************************
day            1/3/2017
temperature          28
windspeed             2
event              Snow
Name: 2, dtype: object
**************************************
3
**************************************
day            1/4/2017
temperature          24
windspeed             7
event              Snow
Name: 3, dtype: object
**************************************
4
**************************************
day            1/5/2017
temperature          32
windspeed             4
event              Rain
Name: 4, dtype: object
**************************************
5
**************************************
day            1/6/2017
temperature          31
windspeed             2
event             Sunny
Name: 5, dtype: object
**************************************

In [24]:
for label , rows in df.iterrows():
    print(label) #Index
    print('**************************************')
    print(rows['day']) #select day from whole row 
    print('**************************************')

0
**************************************
1/1/2017
**************************************
1
**************************************
1/2/2017
**************************************
2
**************************************
1/3/2017
**************************************
3
**************************************
1/4/2017
**************************************
4
**************************************
1/5/2017
**************************************
5
**************************************
1/6/2017
**************************************

In [25]:
#Adding new col to df
#Using for loop
for label , rows in df.iterrows():
    df.loc[label , 'Col_name'] = len(rows['event'])

In [26]:
df # len of all event in the current row is added

        day  temperature  windspeed  event  Col_name
0  1/1/2017           32          6   Rain       4.0
1  1/2/2017           35          7  Sunny       5.0
2  1/3/2017           28          2   Snow       4.0
3  1/4/2017           24          7   Snow       4.0
4  1/5/2017           32          4   Rain       4.0
5  1/6/2017           31          2  Sunny       5.0

In [27]:
#Add col using .apply()
df['col_using_apply'] = df['event'].apply(len)

In [28]:
df

        day  temperature  windspeed  event  Col_name  col_using_apply
0  1/1/2017           32          6   Rain       4.0                4
1  1/2/2017           35          7  Sunny       5.0                5
2  1/3/2017           28          2   Snow       4.0                4
3  1/4/2017           24          7   Snow       4.0                4
4  1/5/2017           32          4   Rain       4.0                4
5  1/6/2017           31          2  Sunny       5.0                5

In [29]:
df['col_name'] = 0 #Add a new col with val 0

In [30]:
df

,day,temperature,windspeed,event,Col_name,col_using_apply,col_name
0,1/1/2017,32,6,Rain,4.0,4,0
1,1/2/2017,35,7,Sunny,5.0,5,0
2,1/3/2017,28,2,Snow,4.0,4,0
3,1/4/2017,24,7,Snow,4.0,4,0
4,1/5/2017,32,4,Rain,4.0,4,0
5,1/6/2017,31,2,Sunny,5.0,5,0

In [31]:
#Random nos using numpy

In [32]:
np.random.seed(123)

In [33]:
np.random.rand()

0.6964691855978616

In [34]:
np.random.rand()

0.28613933495037946

In [35]:
#Now we again set seed to 123 and check first 2 randomly created nos again

In [36]:
np.random.seed(123)

In [37]:
np.random.rand()

0.6964691855978616

In [38]:
np.random.rand()

0.28613933495037946

In [39]:
'''
Yes in both sets of np.random.rand

the random no returning is same, so with same seed same iteration  nos has same val
Ex:
if seed = 2 ,  1st random no : 0.34 means 
if we again set seed = 2 and check 1st random no it'll be 0.34
'''

"\nYes in both sets of np.random.rand\n\nthe random no returning is same, so with same seed same iteration  nos has same val\nEx:\nif seed = 2 ,  1st random no : 0.34 means \nif we again set seed = 2 and check 1st random no it'll be 0.34\n"

In [40]:
np.random.randint(0,2)

0

In [41]:
np.random.randint(0,2)

0

In [42]:
np.random.randint(0,2)

0

In [43]:
np.random.randint(0,2)

1

In [44]:
'''
seed is already set to 123 , so first 2 val is 0 and 3rd val is 1 as per seed
'''

'\nseed is already set to 123 , so first 2 val is 0 and 3rd val is 1 as per seed\n'

In [45]:
for i , j in enumerate('hiking'):
    if i == 2:
        print(j)

k