In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather_data.csv')

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#Row
df.loc[0] #Series

day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object

In [5]:
df.loc[0:0] #Dataframe

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [6]:
df.iloc[0] #Series

day            1/1/2017
temperature          32
windspeed             6
event              Rain
Name: 0, dtype: object

In [7]:
df.iloc[0:1] #Dataframe

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [8]:
df[0:1] #Dataframe

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain

In [9]:
df[0:0] #Just by slicing we can get row as a df not as series

Empty DataFrame
Columns: [day, temperature, windspeed, event]
Index: []

In [10]:
#Column
df['day'] #Series

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
df[['day']] #Dataframe

        day
0  1/1/2017
1  1/2/2017
2  1/3/2017
3  1/4/2017
4  1/5/2017
5  1/6/2017

In [12]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
df[0:3] # from 0 to 3-1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [14]:
df.loc[0:3] # gives till 3rd row coz loc means no of rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [15]:
df.iloc[0:3] #Same as slicing gives 0 to 3-1 coz iloc means actual index

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [16]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
#Slicing specific rows with specific columns
df.loc[
    [0,1] ,
    ['temperature' , 'windspeed']
]

   temperature  windspeed
0           32          6
1           35          7

In [18]:
#Print one col value
df.loc[: , 'temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [19]:
df.loc[ : ,
      ['temperature' , 'windspeed']]
#All rows of temp and windspeed

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [20]:
df.iloc[ : ,
       [1,2]] #This and above results are same

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [21]:
df.iloc[1,2] #Windspeed on row 1

7

In [22]:
df.iloc[[0,1]] #First 2 rows of whole df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [23]:
#Change index
df.index = [1,2,3,4,5,6]

In [24]:
df #Now index starts from 1

        day  temperature  windspeed  event
1  1/1/2017           32          6   Rain
2  1/2/2017           35          7  Sunny
3  1/3/2017           28          2   Snow
4  1/4/2017           24          7   Snow
5  1/5/2017           32          4   Rain
6  1/6/2017           31          2  Sunny

In [25]:
df.index = 32,2,3,4,5,6, #Can also pass as a tuple

In [26]:
df

         day  temperature  windspeed  event
32  1/1/2017           32          6   Rain
2   1/2/2017           35          7  Sunny
3   1/3/2017           28          2   Snow
4   1/4/2017           24          7   Snow
5   1/5/2017           32          4   Rain
6   1/6/2017           31          2  Sunny

In [27]:
df

         day  temperature  windspeed  event
32  1/1/2017           32          6   Rain
2   1/2/2017           35          7  Sunny
3   1/3/2017           28          2   Snow
4   1/4/2017           24          7   Snow
5   1/5/2017           32          4   Rain
6   1/6/2017           31          2  Sunny

In [28]:
#Change first col as index col

In [29]:
df1 = pd.read_csv('weather_data.csv' , index_col = 0)

In [30]:
df1

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny